# https://help.github.com/en/actions

name: Lint

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: ['15.x']

    steps:
      - uses: actions/checkout@v2.3.4
      
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2.3.2
        with:
          node-version: ${{ matrix.node-version }}
          
      - name: Cache
        uses: actions/cache@v2.1.6
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('package-lock.json') }}
          restore-keys: npm-

      - name: Install
        run: npm ci

      - name: Lint
        run: npm run lint
